$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.page, .angular-google-map-container {
	height: 500px;
}

.page.map .index {
	position: absolute;
	width: 100%;
	top: 20px;
	z-index:2;
}
.page.map .search {
	padding: 15px;
}
.page.map .search .input {
	border: none;
	border-radius:0;
	width:100%;
}
.page.contact {
	background:#69f;
}

.page.contact .title {
	color:#fff;
	margin-top: 20px;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Century Gothic';
}

.page.map .logo {

}
.page.map .search {

}
